<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{layouts/layout}">
<head>
	<title> investor_info_details</title>
</head>
<body>
	<th:block layout:fragment="content">
        <div class="container-fluid bg-primary py-5 bg-header"
			style="margin-bottom: 90px;">
			<div class="row py-5">
				<div class="col-12 pt-lg-5 mt-lg-5 text-center">
					<h1 class="display-4 text-white animated zoomIn">투자 정보</h1>
					<div class="h5 text-white">Investment information</div>

				</div>
			</div>
		</div>
		<!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- 투자관련 이미지, 글 삽입 시작 -->

	<div class="container-fluid position-relative p-6">
	        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
	            <div class="carousel-inner">


                    <div class="carousel-item active" data-caption="1">
	                    <img class="w-100" src="https://bucket-s9r52c.s3.ap-northeast-2.amazonaws.com/%ED%88%AC%EC%9E%90%EC%98%88%EC%8B%9C2.jpg">
                        <div id="content-1">
                            <div class="container py-5">
                                <div class="row g-5">
                                    <div class="col-lg-7">
                                        <div class="section-title position-relative pb-3 mb-5">
                                            <h1 class="mb-0">투자관련글 제목1</h1>
                                        </div>
                                        <p class="mb-4">투자관련글 내용1</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
	                        <div class="p-3" style="max-width: 600px;"></div>
	                    </div>
	                </div>


	                <div class="carousel-item" data-caption="2">
                        <img class = "w-100" src="https://bucket-s9r52c.s3.ap-northeast-2.amazonaws.com/growith_logo_bluewhaleoh1.png" height = "300px">
                        <div id="content-2">
                            <div class="container py-5">
                                <div class="row g-5">
                                    <div class="col-lg-7">
                                        <div class="section-title position-relative pb-3 mb-5">
                                            <h1 class="mb-0">투자관련글 제목2</h1>
                                        </div>
                                        <p class="mb-4">투자관련글 내용2</p>
                                    </div>
                                </div>
                            </div>
                        </div>

	                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
	                        <div class="p-3" style="max-width: 600px;"></div>
	                    </div>
	                </div>
	            </div>
	            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
	                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                <span class="visually-hidden">Previous</span>
	            </button>
	            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
	                <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                <span class="visually-hidden">Next</span>
	            </button>
	        </div>
	    </div>

    <!-- 투자관련 이미지, 글 삽입 끝 -->








		<!-- Vendor Start -->



		<!-- Vendor End -->
    </th:block>
</body>
</html>