
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Growith - about_overview</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- 탑 바 시작 -->


    <!-- 탑 바 끝 -->




    <!-- 네비게이션 바 시작 --> 
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <img src="/img/growith_logo_whitewhale.png" alt="Growith Whale Logo" class="whale-logo" style="height:45px;"> <!-- 고래 로고 -->
            <img src="/img/growith_logo_white.png" alt="Growith Logo" class="main-logo" style="height:30px;"> <!-- 일반 로고 -->
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">회사소개</a>
                    <div class="dropdown-menu m-0">
                        <a th:href="@{/about/overview}" class="dropdown-item">회사개요</a>
                        <a th:href="@{/about/team}" class="dropdown-item">팀 소개</a>
                        <a th:href="@{/about/history}" class="dropdown-item">회사 연혁</a>
                    </div>
                </div>
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">프로젝트 소개</a>
                    <div class="dropdown-menu m-0">
                        <a th:href="@{/project/current}" class="dropdown-item">현 프로젝트 - PADO</a>
                        <a th:href="@{/project/projects}" class="dropdown-item">프로젝트들</a>
                        <a th:href="@{/project/gallery}" class="dropdown-item">제품 갤러리</a>
                    </div>
                </div>
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">고객센터</a>
                    <div class="dropdown-menu m-0">
                        <a th:href="@{/support/notice}" class="dropdown-item">공지사항</a>
                        <a th:href="@{/support/faqlist}" class="dropdown-item">FAQ</a>
                        <a th:href="@{/support/contact}" class="dropdown-item">문의하기</a>
                    </div>
                </div>
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">투자자 정보</a>
                    <div class="dropdown-menu m-0">
                        <a th:href="@{/investor/details}" class="dropdown-item">투자 정보</a>
                        <a th:href="@{/investor/financial}" class="dropdown-item">재무 정보</a>
                        <a th:href="@{/investor/press}" class="dropdown-item">언론 보도</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">프로젝트들</h1>
                    <div class="h5 text-white">Our Past & Present</div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

<!-- 타이틀 시작 -->
    <div class="container-fluid py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
	            <h5 class="fw-bold text-primary text-uppercase">GROWITH</h5>
	            <h1 class="mb-0">과거 프로젝트</h1>
	        </div>
    </div>
    <!-- 타이틀 끝 -->


<!-- 프로젝트 1 시작 -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h3 class="mb-0">수중 분수 아이디어 기획 및 시제품 개발</h3>
                    </div>
                    <p class="mb-4">수중 분수 아이디어를 기획하고 초기 컨셉을 개발하여 다양한 공모전을 통해
                        아이디어를 검증하였고, 디자인과 기술적 요소를 고려한 시제품을 설계하고, MVP(최소 기능 제품)
                        모델을 제작하였습니다.
                    </p>
                </div>
                <div class="col-lg-5" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 프로젝트 1 끝 -->

<!-- 프로젝트 2 시작 -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7"> 
                <div class="section-title position-relative pb-3 mb-5">
                    <h3 class="mb-0">시범 프로젝트 운영 및 초기 시장 진출</h3>
                </div>
                <p class="mb-4">지자체 및 기업과 협력하여 시범 프로젝트를 추진하고,
                    프로토타입 제품을 실제 환경에서 운영하며 성능을 평가하였습니다. 이러한
                    시범 프로젝트 결과를 바탕으로 시장 진출 전략을 수립하고, 타겟 시장과
                    고객층을 파악하여 제품을 런칭하고 마케팅 활동을 전개하였습니다.</p>
            </div>
        </div>
    </div>
</div>
<!-- 프로젝트 2 끝 -->

    <!-- 계획 중인 프로젝트 Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">GROWITH</h5>
            <h1 class="mb-0">계획 중인 프로젝트</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/blog-1.jpg" alt="">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Web Design</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                        <h4 class="mb-3">해외 시장 진출 및 글로벌 확장</h4>
                        <p>글로벌 시장의 특성과 규제를 반영한 제품 수정 및 홍보를 통해 해외 시장에 진출할 계획입니다.
                            이를 통해 더 넓은 시장에서의 기회를 모색하고, 매출을 확대할 예정입니다​</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/blog-2.jpg" alt="">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Web Design</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                        <h4 class="mb-3">자체 제품 제작 및 데이터 판매 사업</h4>
                        <p>
                            수중 분수 제품의 제조 공정을 최적화하고 공장을 증설하여, 자체 제작 역량을 강화할 계획이고 또한,
                            축적된 수질 데이터를 활용하여 기업 및 연구 기관 등에 유료로 데이터를 제공하는 새로운 사업 모델을
                            추진할 예정입니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->





    <!-- Vendor Start -->

    <!-- Vendor End -->
    

    <!-- Footer Start -->
<div class="container-fluid bg-dark text-light mt-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-8 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-12 pt-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <img src="/img/growith_logo_white.png" alt="Growith Logo" class="me-2" style="height:30px;">
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-geo-alt text-primary me-2"></i>
                            <p class="mb-0">123 Street, New York, USA</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-primary me-2"></i>
                            <p class="mb-0">info@example.com</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-telephone text-primary me-2"></i>
                            <p class="mb-0">+012 345 67890</p>
                        </div>
                        <div class="d-flex mt-4">
                            <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-white" style="background: #061429;">
    <div class="container text-center">
        <div class="row justify-content-start">
            <div class="col-lg-8 col-md-6">

            </div>
        </div>
    </div>
</div>

    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>