<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{layouts/layout}">
<head>
	<title> projects_projects</title>
</head>
<body>
	<th:block layout:fragment="content">
        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">프로젝트들</h1>
                    <div class="h5 text-white">Our Past & Present</div>
                    
                </div>
            </div>
        </div>
        <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

<!-- 타이틀 시작 -->
    <div class="container-fluid py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
	            <h5 class="fw-bold text-primary text-uppercase">GROWITH</h5>
	            <h1 class="mb-0">과거 프로젝트</h1>
	        </div>
    </div>
    <!-- 타이틀 끝 -->


<!-- 프로젝트 1 시작 -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h3 class="mb-0">수중 분수 아이디어 기획 및 시제품 개발</h3>
                    </div>
                    <p class="mb-4">수중 분수 아이디어를 기획하고 초기 컨셉을 개발하여 다양한 공모전을 통해
                        아이디어를 검증하였고, 디자인과 기술적 요소를 고려한 시제품을 설계하고, MVP(최소 기능 제품)
                        모델을 제작하였습니다.
                    </p>
                </div>
                <div class="col-lg-5" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 프로젝트 1 끝 -->

<!-- 프로젝트 2 시작 -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7"> 
                <div class="section-title position-relative pb-3 mb-5">
                    <h3 class="mb-0">시범 프로젝트 운영 및 초기 시장 진출</h3>
                </div>
                <p class="mb-4">지자체 및 기업과 협력하여 시범 프로젝트를 추진하고,
                    프로토타입 제품을 실제 환경에서 운영하며 성능을 평가하였습니다. 이러한
                    시범 프로젝트 결과를 바탕으로 시장 진출 전략을 수립하고, 타겟 시장과
                    고객층을 파악하여 제품을 런칭하고 마케팅 활동을 전개하였습니다.</p>
            </div>
        </div>
    </div>
</div>
<!-- 프로젝트 2 끝 -->

    <!-- 계획 중인 프로젝트 Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">GROWITH</h5>
            <h1 class="mb-0">계획 중인 프로젝트</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/blog-1.jpg" alt="">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Web Design</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                        <h4 class="mb-3">해외 시장 진출 및 글로벌 확장</h4>
                        <p>글로벌 시장의 특성과 규제를 반영한 제품 수정 및 홍보를 통해 해외 시장에 진출할 계획입니다.
                            이를 통해 더 넓은 시장에서의 기회를 모색하고, 매출을 확대할 예정입니다</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/blog-2.jpg" alt="">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Web Design</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                        <h4 class="mb-3">자체 제품 제작 및 데이터 판매 사업</h4>
                        <p>
                            수중 분수 제품의 제조 공정을 최적화하고 공장을 증설하여, 자체 제작 역량을 강화할 계획이고 또한,
                            축적된 수질 데이터를 활용하여 기업 및 연구 기관 등에 유료로 데이터를 제공하는 새로운 사업 모델을
                            추진할 예정입니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->





    <!-- Vendor Start -->

    <!-- Vendor End -->
        
    </th:block>
</body>
</html>